$brandColor: #006ad1;
$asideNavColor: #fff;
$mainContentColor: #faf8f0;
$brandDarkColor: #4a3a06;
$brandDarkColor2: #c69700;
$brandLightColor: #fbeab3;
$brandLightColor2: #faf8f0;
$brandLightColor3: #fbeab3;
$lightColor: #fff;
$darkColor: #333;
$brColor: #ccc;
$brColor2: #e5e9f9;
$brColor3: #cdd4c9;
$menuLinkColor: #b7b5a5;
$warning: #ec6585;
$done: #a2af69;
$placeholderColor: #4a3a06;

$asideInfoColor: $brandColor;
$btnBg: #fbeab3;
$titleTable: #646354;

$imgPath: "../images";
$fontPath: "../fonts";

$headerHeight: 95px;
$tableRadius: 5px;
$btnRadius: 25px;
$bgRadius: 5px;
$blockPd: 30px;
